# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build

# misc
.DS_Store
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# subgraph
packages/subgraph/build/
packages/subgraph/generated/

# react-app
packages/react-app/src/libs/ceramic/keys.json

# hardhat
packages/contracts/artifacts/
packages/contracts/cache

.DS_Store